body{
  margin: 0px auto;
  background: url("../img/fond.jpg") no-repeat;
  background-size: cover;
}
/* HEADER */
header{
  width: 100%;
  background-color: #FFFFFF;
  height: 60px;
}
header .content{
  margin: 0px auto;
  width: 75%;
}
header .content .left{
  display: inline-block;
  width: 30%;
  height: 60px;
  position: relative;
}
header .content .left li{
  width: 100px;
  display: inline-block;
  line-height: 39px;
  list-style: none;
  font-family: sans-serif;
  font-size: 1.05em;
  transition: border-bottom 0.2s ease-out;
  box-sizing: border-box;
}
header .content .left li a{
  border-color: #55acee;
  text-decoration: none;
  color: #777777;
}
header .content .left li:hover{
  border-bottom: 5px solid #55acee;
}
header .content .left li:first-child{
  padding-left: 35px;
}
header .content .left li:last-child{
  padding-left: 15px;
}
header .content .left li:first-child:before{
  content: url(../img/logo.png);
  width:30px;
  height: 30px;
  position: absolute;
  left: 42px;
  top: 20px;
}
header .content .right{
  display: inline-block;
  float: right;
  width: 20%;
  height: 60px;
}
header .content .right a{
  display: inline-block;
  color: #777777;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.75em;
  margin-top: 10%;
}
header .content .right .lang-list{
  visibility: hidden;
}
/* CENTER */
.container{
  width: 55%;
  margin: 0px auto;
  }
.container .left{
  width: 45%;
  float:left;
  margin-top: 6vh;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 1.25em;
}
.container .right{
  width: 45%;
  float:right;
  margin-top: 10vh;
}
/* Container Gauche */
.container .left .bottom a{
  color: #FFFFFF;
  font-family: sans-serif;
}
.container .left h1{
  font-size: 2em;
}
.container .left p{
  line-height: 35px;
  font-size: 1.1em;
}
.container .left .bottom p{
  font-size: 0.9em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.container .left .bottom p:first-child{
  margin-top: 40%;
}
.container .left .bottom p:nth-child(2){
  margin-top: 3.5%;
}
/* Container Droit */
.container .right .connexion{
  height: 30%;
  width: 73%;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 15px 18px;
}
.container .right .connexion #id{
  height: 35px;
  width: 97%;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size:1.15em;
  padding: 0px 5px;
}
.container .right .connexion .line-pw{
  height: 35px;
}
.container .right .connexion #pw{
  height: 35px;
  width: 55%;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size:1.15em;
  padding: 0px 5px;
}
.container .right .connexion button{
  height: 38px;
  width: 38%;
  float: right;
  border: 1px solid #449BCC;
  border-radius: 5px;
  background-color: #55acee;
  margin-left:1.5%;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 1.15em;
}
.container .right .connexion .remember{
  line-height: 30px;
  margin-top: 10px;
}
.container .right .connexion .remember input{
  clear: both;
  width: 15px;
  height: 15px;
}
.container .right .connexion .remember label{
  font-family: sans-serif;
  color: #999999;
  font-size: 0.9em;
}
.container .right .connexion .remember a{
  font-family: sans-serif;
  text-decoration: none;
  color: #55ACEE;
  font-size: 0.95em;
}

.container .inscription {
  height: 230px;
  width: 81%;
  margin-top: 3%;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-family: sans-serif;

}
.container .inscription h3{
  padding: 9px 10px 9px 25px;
  border-bottom: 1px solid #CCCCCC;
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.container .inscription h3 .grey{
  color:#888888;
  font-weight: 200;
  font-size:0.9em;
}

.container .inscription input{
  width: 90%;
  height: 35px;
  padding: 0px 5px;
  margin-left:12px;
  margin-bottom: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size:1.15em;
}
.container .inscription button{
  float: right;
  height: 35px;
  margin-top: 5px;
  margin-right: 15px;
  padding: 0px 8px;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #E99110;
  background-image: linear-gradient(to top,#E99110, #FDC849);
  color:#444444;
}
.container .inscription button{
  clear: both;
}
footer{
  clear: both;
  width: 75%;
  position: absolute;
  bottom: 3%;
  left:12.5%;
}
footer ul li{
  display: inline;
  color:#FFFFFF;
  font-weight: 300;
  font-size: 0.9em;
  margin-left: 10px;
}
